.content {
  width: 90%;
  margin: 1.4rem auto auto auto;

}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title h1 {
  font-size: 1.8rem;
  color: #415a77;
  font-weight: 500;
}


.nome {
  color: var(--corpadrao);
  cursor: pointer;
}


button {
  margin-bottom: .8rem;
  color: var(--corpadrao);
  border-radius: 10px;
}

.table {
  width: 100%;
}

.livros {
  color: var(--corpadrao);
  margin-left: .6rem;
}

.edit {
  color: var(--corpadrao);
}

.delete {
  color: rgb(228, 56, 56);
  margin-left: .2rem;
}

.create {
  color: var(--corpadrao);
  margin-left: .2rem;
}

.mat-header {
  width: 5rem;
}




.section__tabela {
  min-height: 80%;
}

.estiloTabela {
  background-color: #415a77;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  color: #edf6f9;
}

.estiloTabela:hover td a {
  color: #edf6f9;
}

.estiloTabela td {
  width: calc(100% / 6);
  text-align: center !important;
}

.header-tabela th {
  text-align: center !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.estiloTabela:hover {
  background-color: #4c6293;
  cursor: pointer;
  color: #edf6f9;
}

.estiloTabela :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.estiloTabela :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn__detalhes {
  border: none;
  background-color: var(--background-menu-hover);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--background-modal);
  font-size: 12px;
  padding: 4px 6px;
  text-decoration: none;
}

.btn__detalhes:hover {
  color: var(--color-text-hover-sec) !important;
  background-color: var( --background-botao-hover-sec) !important;
}

.coluna__detalhe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7vw;
}

.container__action {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-hover);
  font-size: 12px;
  padding: 6px 10px;
}

.btn_criar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
  gap: 4px;
  background: #415a77;
  border: none;
  color: #edf6f9;
  border-radius: 5px;
  font-size: 110%;
}

.btn_criar:hover {
  color: #edf6f9;
  background-color: #4c6293;
}

.search-box {
  background: #415a77;
  height: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-btn {
  color: #415a77;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #d8d8d8;
  font-size: 12px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
}

.search-box:hover>.search-txt {
  width: 125px;
  padding: 0 6px;
}

.search-box:hover>.search-btn {
  background: #d8d8d8;
}

.pagination-section {
  text-align: center;
  position: fixed;
  margin-bottom: 40px !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}