
<div class="content">

<div class="title">
    <h1>Estatísticas do Mês</h1>
  </div>

<div class="center_cards"> 
    <div class="card">
        <h4>Alunos Matriculados</h4>
        <p>Contagem atual: {{ contagem }}</p>
        <button class="btn_criar" matTooltip ="Atualizar Contagem Aluno" 
        (click)="atualizarContagem()">Atualizar Contagem</button>
    </div>

    <div class="card">
        <h4>Lucros Previsto</h4>
        <p>Contagem Lucro: {{ lucroPrevisto | currency:'BRL':'symbol':'1.2-2' }}</p>
        <button class="btn_criar" matTooltip ="Atualizar Contagem Aluno" 
        (click)="atualizarContagem()">Atualizar Lucro</button>
    </div>

    <div class="card">
        <h4>Lucro Obtido</h4>
        <p>Contagem Lucro: {{ lucroMensal | currency:'BRL':'symbol':'1.2-2' }}</p>
        <button class="btn_criar" matTooltip ="Atualizar Contagem Aluno" 
        (click)="atualizarContagem()">Atualizar Lucro</button>
    </div>

    <div class="card">
        <h4>Mensalidades Pagas</h4>
        <p>Contagem atual: {{ porcentagemMensalidades }}</p>
        <button class="btn_criar" matTooltip ="Atualizar Contagem Aluno" 
        (click)="atualizarContagem()">Atualizar Contagem</button>
    </div>
    

</div> 

</div>