.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 12%;
  background-color: #f2f4f6;
}

.inativo {
  display: none;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.text p {
  font-size: 10px;
}

.text {
  justify-content: center;
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
  color: #415a77;
}

span {
  cursor: pointer;
}

img {
  height: 1.9rem;
  border-radius: 100px;
  align-items: center;
  justify-content: center;

}

p {
  font-size: 8px;
  margin-top: -15px;

}

.buttonHeader {
  align-items: center;
  margin-left: 8px;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #125D79;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
}

.buttonHeader:hover {
  background-color: transparent;
  color: #0571b7;
}


.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #125D79;
  font-size: 11px;
  padding: 4px 12px 4px 12px;
  border: solid #125D79 1px;
  font-weight: 800;
  text-decoration: none;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}