.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 12%;
  background-color: #DFF2EA;
}

span {
  cursor: pointer;
}

img {
  height: 12rem;
  padding-top: 5%;

}

p {
  font-size: 8px;
  margin-top: -20px;

}

.MoverTextoIcone {
  margin-left: -9px;
}


.buttonHeader {
  align-items: center;
  margin-left: 1.2rem;
  background-color:transparent;
	border-radius:50px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#0571b7;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;

}

.buttonHeader:hover {
	background-color:transparent;
  color:#000;
}


