
<mat-toolbar>

   
  <span class="example-spacer"></span>

  <div class="text"> 
      <h3>RISING - GESTÃO DE ACADEMIAS</h3>
      <p>Cadastros / Administração / Controles / Treinos / Antropometria </p>
  </div>
 
  
  <button mat-icon-button class="buttonHeader" aria-label="Example icon-button with share icon">
     <mat-icon (click)="logout()">logout_none</mat-icon>
    </button>

    <button class="btn">ACESSE SEU PERFIL</button>
    

    <button routerLink="" mat-icon-button class="buttonHeader" aria-label="Example icon-button with share icon">
      <img src="assets/usuario.jpg" alt="">
    </button>

</mat-toolbar>