<div class="content">

  <div class="title">
    <h1>Lista de Alunos</h1>
  </div>

  <section class="section__tabela">
    <table>
      <tr class="header-tabela">
        <th >Nome</th>
        <th >Telefone</th>
        <th >Objetivo</th>
        <th >Mensalidade</th>
        <th >Opções</th>
      </tr>
      <tr class="estiloTabela"
        *ngFor="let aluno of alunos | paginate: { itemsPerPage: 4, currentPage: paginaAtual }; let i = index">
       
        <td> <a (click)="redirect(aluno.id)" >{{aluno.nome}}</a> </td>
        <td>{{aluno.telefone}}</td>
        <td>{{aluno.objetivo}}</td>
        <td>{{aluno.mensalidade}}</td>
        <td>
          <div class="coluna__detalhe">
            <a routerLink="update/{{ aluno.id }}" class="btn__detalhes"
              title="Editar Aluno"><mat-icon>edit</mat-icon></a>
            <a routerLink="delete/{{ aluno.id }}" class="btn__detalhes"
              title="Deletar Aluno"><mat-icon>delete</mat-icon></a>
            <a routerLink="/alunos/create" class="btn__detalhes"
              title="Criar Aluno"><mat-icon>person_add</mat-icon></a>
              
          </div>
        </td>
      </tr>
    </table>
  </section>

  <section class="pagination" *ngIf="alunos.length != 0">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls>
  </section>


</div>
