.content {
  width: 90%;
  margin: 1.4rem auto auto auto;

}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title h1 {
  font-size: 1.8rem;
  color: var(--corpadrao);
  font-weight: 500;

}

button {
  margin-bottom: .8rem;
  color: var(--corpadrao);
  border-radius: 10px;
}

.table {
  width: 100%;
}

.livros {
  color: var(--corpadrao);
  margin-left: .6rem;
}

.edit {
  color: var(--corpadrao);
}

.delete {
  color: rgb(228, 56, 56);
  margin-left: .2rem;
}

.create {
  color: var(--corpadrao);
  margin-left: .2rem;
}

.nome {
  color: var(--corpadrao);
  cursor: pointer;
}

.mat-header {
  width: 5rem;
}





.section__tabela {
  min-height: 80%;
}

.estiloTabela {
  background-color: var(--header-background);
  width: 100%;
  height: 70px;
  border-radius: 15px;
  color: var(--color-text);
}

.estiloTabela:hover td a {
  color: var(--background-1);
}

.estiloTabela td {
  width: calc(100% / 6);
  text-align: center !important;
}

.header-tabela th {
  text-align: center !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.estiloTabela:hover {
  background-color: var(--background-menu-hover);
  cursor: pointer;
  color: var(--color-text-hover);
}

.estiloTabela :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.estiloTabela :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn__detalhes {
  border: none;
  background-color: var(--background-menu-hover);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--background-modal);
  font-size: 12px;
  padding: 6px 10px;
  text-decoration: none;
}

.btn__detalhes:hover {
  color: var(--color-text-hover-sec) !important;
  background-color: var( --background-botao-hover-sec) !important;
}

.coluna__detalhe {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7vw;
}

.pagination {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* .ngx-pagination {
  margin-left: 10rem !important;
 
} */

.container__action {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-hover);
  font-size: 12px;
  padding: 6px 10px;
}

.btn_criar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 4px;
  background: var(--background-menu-hover);
  border: none;
  color: var(--color-text-sec);
  border-radius: 5px;
  font-size: 120%;
}

.btn_criar:hover {
  color: var(--color-text-hover);
  background-color: var(--background-botao-hover);
}

.search-box {
  background: var(--header-background);
  height: 25px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-btn {
  color: var(--background-menu-hover);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--header-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: var(--color-text);
  font-size: 12px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
}

.search-box:hover>.search-txt {
  width: 125px;
  padding: 0 6px;
}

.search-box:hover>.search-btn {
  background: var(--background-1);
}
