<div class="content">

  <div class="title">
    <h1>Lista de Alunos</h1>
  </div>

  <section class="container__action">
    <div class="search-box">
      <input class="search-txt" type="text" [(ngModel)]="searchText" name="" placeholder="Faça a sua pesquisa"
        ng2-search-filter>
      <a class="search-btn">
        <mat-icon>search</mat-icon>
      </a>
    </div>
    <div  routerLink="/alunos/create">
      <button class="btn_criar" matTooltip ="Adicionar aluno">
        <mat-icon>person_add</mat-icon>
        Novo Aluno
      </button>
    </div>
  </section>


  <section class="section__tabela">
    <table>
      <tr class="header-tabela">
        <th >Nome</th>
        <th >Telefone</th>
        <th >Objetivo</th>
        <th >Mensalidade</th>
        <th >Opções</th>
      </tr>
      <tr class="estiloTabela"
        *ngFor="let aluno of alunos | filter: searchText | paginate: { itemsPerPage: 4, currentPage: paginaAtual }; let i = index">
       
        <td matTooltip ="Ir para perfil"> <a (click)="redirect(aluno.id)" >{{aluno.nome}}</a> </td>
        <td>{{aluno.telefone}}</td>
        <td>{{aluno.objetivo}}</td>
        <td>{{aluno.mensalidade}}</td>
        <td>
          <div class="coluna__detalhe">
            <a routerLink="update/{{ aluno.id }}" class="btn__detalhes"
            matTooltip ="Editar aluno"><mat-icon>edit</mat-icon></a>
            <a routerLink="delete/{{ aluno.id }}" class="btn__detalhes"
            matTooltip ="Deletar Aluno"><mat-icon>delete</mat-icon></a>     
          </div>
        </td>
      </tr>
    </table>
  </section>

  <section class="pagination pagination-section" *ngIf="alunos.length != 0">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls>
  </section>


</div>
