<div class="content">

  <div class="title">
    <h1>Lista de Treinos</h1>
  </div>

  <section class="container__action">
    <div class="search-box">
      <input class="search-txt" type="text" [(ngModel)]="searchText" name="" placeholder="Faça a sua pesquisa"
        ng2-search-filter>
      <a class="search-btn">
        <mat-icon>search</mat-icon>
      </a>
    </div>
    <div  routerLink="/treinos/criar">
      <button class="btn_criar" matTooltip ="Adicionar treino">
        <mat-icon>bookmark_add</mat-icon>
        Novo Treino
      </button>
    </div>
  </section>

    <section class="section__tabela">
    <table>
      <tr class="header-tabela">
        <th >Dia</th>
        <th >Treino</th>
        <th >Serie</th>
        <th >Repetição</th>
        <th >Opções</th>
      </tr>
      <tr class="estiloTabela"
        *ngFor="let treino of treinos | filter: searchText | paginate: { itemsPerPage: 4, currentPage: paginaAtual }; let i = index">
       
        <td> {{treino.dia}} </td>
        <td>{{treino.treino}}</td>
        <td>{{treino.serie}}</td>
        <td>{{treino.repeticao}}</td>
        <td>
          <div class="coluna__detalhe">
            <a routerLink="update/{{ treino.id }}" class="btn__detalhes"
            matTooltip ="Editar treino"><mat-icon>edit</mat-icon></a>
            <a routerLink="delete/{{ treino.id }}" class="btn__detalhes"
            matTooltip ="Deletar treino"><mat-icon>delete</mat-icon></a>
          </div>
        </td>

      </tr>
    </table>
  </section> 

  <section class="pagination pagination-section" *ngIf="treinos.length != 0">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls>
  </section>

</div>
