<div *ngIf="aluno">
  <tr>Aluno(a): {{aluno.nome}}</tr>
  <tr>Quantidade mensalidades pagas: {{aluno.quantidadeMensalidadesPagas}}</tr>
  <tr>Data Pagamento: {{aluno.dataPagamento}}</tr>
</div>
<div *ngIf="dadosMensalidade">
    <h2>Vencimento: {{ dadosMensalidade.Vencimento }}</h2>
    <p>Data do último pagamento: {{ dadosMensalidade.DataUltimoPagamento }}</p>
    <p>Status: {{ dadosMensalidade.Status }}</p>
  </div>

<input matInput [(ngModel)]="quantidade" min="0" type="Number" name="quantidade" placeholder="10">
<button (click)="pagarMensalidade(quantidade)">Pagar Mensalidade</button>
<h3 *ngIf="errorNumeroInvalido" class="erro">{{errorNumeroInvalido}}</h3>

