<div class="card">
<section id="cta">
    <h1 class="heading"> <span>Envie sua pergunta</span></h1>
      <div class="none">
        <p>Preencha corretamente os campos abaixo. Em breve retornaremos seu contato.</p>
      </div>
      <div class="right box">
        <div class="content">
          <form action="https://formsubmit.co/ma_eduard@hotmail.com" method="POST">
            <input type="hidden" name="acessKey" value="68ff2727-9a67-453e-b0ee-06183cc3ece1" >
            <input type="hidden" name="text" value="http://localhost:4200/ajuda/" >
            <input type="hidden" name="redirectTo" value="http://localhost:4200/ajuda" >
  
            <div>
              <div class="email">Email (obrigatório)</div>
              <input type="text"  name="email" required placeholder="exemplo@hotmail.com">
            </div>
  
            <div class="email">
              <div class="text">Nome (obrigatório)</div>
              <input type="text" name="name" required placeholder="Seu nome">
            </div>

            <div class="msg">
              <div class="text">Faça sua pergunta</div>
              <textarea  name="message"  required maxlength="200" placeholder="Digite sua pergunta"></textarea>
            </div>
            
            <div class="btn">
              <button type="submit" value="Submit" matTooltip="Enviar pergunta">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </section>
</div>

<section class="faqs">
    <div class="title">
        <h1>Perguntas frequentes</h1>
      </div>
    <div class="container faqs_container">
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como pagar mensalidade de um aluno?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como adicionar um treino direto a um aluno?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
       <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Onde posso ver detalhe da antropometria de todos os alunos?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como posso alterar minha senha?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Onde posso alterar o cargo dos funcionarios?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como adicionar um treino?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como criar uma conta para outra pessoa acessar?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Onde posso ver os lucros mensais da academia?</h4>
                <p>Em andamento...</p>
            </div>
        </article>
    </div> 
</section> 


