<div class="card">
<section id="cta">
    <h1 class="heading"> <span>Envie sua pergunta</span></h1>
      <div class="none">
        <p>Preencha corretamente os campos abaixo. Em breve retornaremos seu contato.</p>
      </div>
      <div class="right box">
        <div class="content">
          <form>
            <div>
              <div class="email">Email (obrigatório)</div>
              <input type="text"  name="email" [(ngModel)]="email.emailFrom" required placeholder="exemplo@hotmail.com">
            </div>

              <div class="email">
                <input type="hidden" name="emailTwo" [(ngModel)]="email.emailTo" required placeholder="exemplo@hotmail.com">
              </div>
  
            <div class="email">
              <div class="text">Nome (obrigatório)</div>
              <input type="text" name="name" [(ngModel)]="email.subject" required placeholder="Seu nome">
            </div>

            <div class="msg">
              <div class="text">Faça sua pergunta</div>
              <textarea  name="message" type="text" [(ngModel)]="email.text" required maxlength="200" placeholder="Digite sua pergunta"></textarea>
            </div>
            
            <div class="btn">
              <button type="submit" value="Submit" matTooltip="Enviar pergunta" (click)="enviarEmail()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </section>
</div>

<section class="faqs">
    <div class="title">
        <h1>Perguntas frequentes</h1>
      </div>
    <div class="container faqs_container">
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como pagar mensalidade de um aluno?</h4>
                <p>Para você pagar a mensalidade de um aluno, precisa ir na aba <a routerLink="alunos">Alunos</a> 
                clicar na nome do aluno que você deseja, já no perfil clicar no botão mensalidade e lá você
            pode pagar quantas parcelas desejar.</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como adicionar um treino direto a um aluno?</h4>
                <p>Para adicionar um treino para um <a routerLink="alunos">Alunos</a> precisa ir na tabela alunos
                clicar no nome do aluno que você quer cadastrar um treino, em seguida clicar no botão treino
                sendo assim e so escolher o treino desejo e salvar.</p>
            </div>
        </article>
       <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Onde posso ver detalhe da antropometria de todos os alunos?</h4>
                <p>Para acessar o detalhe da Antropometria detalhada de todos os alunos
                basta acessar a aba <a routerLink="antropometrias">Antropometria</a>.</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como posso alterar minha senha?</h4>
                <p>Para alterar a senha você precisa acessar as <a routerLink="config">configurações</a>
                e em seguida ir no botão alterar senha, sendo assim você ja sera redirecionado para 
            alterar a senha.</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Onde posso alterar o cargo dos funcionarios?</h4>
                <p>Para alterar o cargo de um funcionario precisa ir a aba <a routerLink="funcionarios">Funcionarios</a>
                 clicar no nome do funcionario desejado para abrir o perfil dele e clicar no botão "alterar cargo".</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como adicionar um treino?</h4>
                <p>Para adicionar um treino você precisa ir para aba <a routerLink="treinos">Treinos</a> e
                em seguida clicar no botão novo treino.</p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Como criar uma conta para outra pessoa acessar?</h4>
                <p>Para poder dar acesso ou criar conta para outro usuario você precisa acessar 
                    <a routerLink="config">configurações</a> e ir a opção "criar conta". 
                </p>
            </div>
        </article>
        <article class="faq" matTooltip="Clica para ver resposta">
            <div class="faq_icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question_ans">
                <h4>Onde posso ver os lucros mensais da academia?</h4>
                <p>Para ver os lucros e toda a gestão do financeiro do seu estabelecimento e so ir a aba
                    <a routerLink="relatorios">Relatorios</a> e navegar lá você acha tudo que precisa.
                </p>
            </div>
        </article>
    </div> 
</section> 


