p {
    margin: 0px;
  }
  
  .message {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  
  
  .btn-close {
    color: #edf6f9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #415a77;
    transition: 100ms;
  }
  
  .btn-close:hover {
    background: #415a77;
    color: #edf6f9;
  }
  