p {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .message {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  
  
  .btn-close {
    color: #edf6f9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #415a77;
    transition: 100ms;
  }
  
  .btn-close:hover {
    background: #4c6293;
    color: #edf6f9;
  }
  