.card {
    background-color: transparent;
    color: #edf6f9;
    width: 70%;
    height: 65vh;
    border-radius: 8px;
    margin-left: 30vh;
    padding-top: 2rem;
    border: 1px solid #4c6293;
}

.container {
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .title h1 {
    font-size: 1.8rem;
    color: #415a77;
    font-weight: 500;
  }

  .menu {
    background-color: #f2f4f6;
    width: 80%;
    height: 50vh;
    border-radius: 8px;
    margin-left: 15vh;
  }

  .container__action {
  background-color: transparent;
  border: 1px solid #415a77;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 5px 15%;
  margin: 10px 2rem;
}

.btn_criar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
  gap: 4px;
  background-color: var(--background-menu-hover);
  border: none;
  color: var(--background-modal);
  border-radius: 5px;
  font-size: 110%;
}

.btn_criar:hover {
  color: var(--color-text-hover-sec) !important;
  background-color: var( --background-botao-hover-sec) !important;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 6px;
    background:  transparent;
    border: 1px solid #415a77;
    color: #415a77;
    border-radius: 5px;
    font-size: 95%;
  }
  
  .btn:hover {
    color:  #edf6f9;
    background-color: #4c6293;
  }

.titulo {
    display: inline;
  font-size: 18px;
  color: #415a77;
  font-weight: 500;
}

.imagem {
    position: relative;
}

img {
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-left: 5rem;
    width: 10%;
    border-radius: 60%;
    margin-right: 40vh;
    margin-bottom: 2rem;
}

img:hover {
    filter: grayscale(0);
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

.text {
    font-size: 15px;
    font-weight: 500;
    color: #415a77;
    margin-bottom: 0px;
    text-align: left;
}

.text-container {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
}

