<div class="container">
   <section class="flex">

     <div class="box-1" >
      <a class= 'router' routerLink="">
        <p class= "font-boxes">Dashboard</p>
        <mat-icon class="icons">dashboard</mat-icon>
      </a>
     </div>

     <div class="box-2">
      <a class= 'router' routerLink="/categorias">
        <p class= "font-boxes1">Config Livros</p>
        <mat-icon class="icons1">note_add</mat-icon>
      </a>
     </div>

     <div class="box-2" >
      <a class= 'router' routerLink="">
        <p class= "font-boxes1">Configurações</p>
        <mat-icon class="icons1">settings</mat-icon>
      </a>
    </div>

  </section>
</div>

