mat-toolbar {
    height: 42px;
    background-color: #1b263b;
    font-size: 16px;
    color: #edf6f9;
    
  }

  .imagemLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 1.8rem;
    padding: 10px;
    cursor: pointer;
  }

  p {
    cursor: pointer;
    margin-top: 14px;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: #bac2d5;
    color: #1b263b;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    overflow: auto;
    background-color: #bac2d5;
  }
  
  mat-sidenav-container {
    height: calc(102vh - 74px);
    background-color: #1b263b;
  }


  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
    mat-icon {
      margin-right: 8px;
    }
  
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: #1b263b;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(4, 11, 48, 0.5);
  }


  .buttonHeader {
    align-items: center;
    margin-left: 75.5rem;
    background-color:transparent;
    border-radius:50px;
    border: none;
    display: flex;
    justify-content: center;
    cursor:pointer;
    color:#edf6f9;
    font-family:Arial;
    font-size:15px;
    text-decoration:none;
  
  }
  
  .buttonHeader:hover {
    background-color:transparent;
    color:#bac2d5;
  }