<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <img class="imagemLogo" src="assets/favicon.png" routerLink="" >
    <p routerLink="">Rising</p> 
    <button mat-icon-button class="buttonHeader" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
      </button>

  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="assets/perfil.png"
      />
  
      <h4 class="name">Matheus Nascimento</h4>
      <p class="designation">Software Engineer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
        <mat-icon>manage_accounts</mat-icon>
        <span>Alunos</span>
      </button>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu1">
        <mat-icon>bolt</mat-icon>
        <span>Treinos</span>
      </button>
      <button mat-button class="menu-button" routerLink="/antropometrias">
        <mat-icon>accessibility</mat-icon>
        <span>Antropometria</span>
      </button>
      <button mat-button class="menu-button"  [matMenuTriggerFor]="menu2">
        <mat-icon>content_paste_search</mat-icon>
        <span>Administração</span>
      </button>
      <button mat-button class="menu-button" routerLink="/config">
        <mat-icon>settings</mat-icon>
        <span>Config</span>
      </button>
      <!-- <button mat-button class="menu-button" routerLink="/sair">
        <mat-icon>output</mat-icon>
        <span>Sair</span>
      </button> -->
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Ajuda</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/alunos/create">
      <mat-icon class="icones-lateral">add</mat-icon>
      <span class="span-alterar">Matricular Aluno</span>
    </button>
    <button mat-menu-item routerLink="/alunos">
      <mat-icon class="icones-lateral">list</mat-icon>
      <span class="span-alterar">Mostrar Alunos</span>
    </button>
  </mat-menu>

  <mat-menu #menu1="matMenu">
    <button mat-menu-item routerLink="/treinos">
      <mat-icon class="icones-lateral">offline_bolt</mat-icon>
      <span class="span-alterar">Ver Treinos</span>
    </button>
    <button mat-menu-item routerLink="/treinos/criar">
      <mat-icon class="icones-lateral">bookmark_add</mat-icon>
      <span class="span-alterar">Adicionar Treino</span>
    </button>
  </mat-menu>

  <mat-menu #menu2="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon class="icones-lateral">description</mat-icon>
      <span class="span-alterar">Relatorios</span>
    </button>
    <button mat-menu-item routerLink="/funcionarios">
      <mat-icon class="icones-lateral">perm_identity</mat-icon>
      <span class="span-alterar">Funcionario</span>
    </button>
    <button mat-menu-item routerLink="/funcionarios/create">
      <mat-icon class="icones-lateral">supervisor_account</mat-icon>
      <span class="span-alterar">Novo Funcionario</span>
    </button>
  </mat-menu>