<h1>ATUALIZANDO TREINO</h1>

<mat-form-field class="form">
    <mat-label>Dia da Semana</mat-label>
    <input matInput [(ngModel)]="treino.dia" type="text" name="dia" placeholder="Ex. Segunda-Feira">
</mat-form-field>


<mat-form-field class="form">
    <mat-label>Treino</mat-label>
    <input matInput [(ngModel)]="treino.treino" type="text" name="treino" placeholder="Ex. Supino">
</mat-form-field>


<mat-form-field class="form">
  <mat-label>Serie</mat-label>
  <input matInput [(ngModel)]="treino.serie" type="text" name="serie" placeholder="Ex. 3">
</mat-form-field>


<mat-form-field class="form">
<mat-label>Repetição</mat-label>
<input matInput [(ngModel)]="treino.repeticao" type="text" name="repeticao" placeholder="Ex. 30">
</mat-form-field>


<div class="buttons">
    <button (click)="update()" class="btn_criar" mat-stroked-button color="primary"> ATUALIZAR </button>
    <button (click)="cancel()" class="btn_criar" mat-stroked-button color="warn"> CANCELAR </button>
</div>
