<div class="centralizar">
   <h1>
    {{ aluno.alunoIndividual.nome }}
   </h1>
  <img class="avatar" src="assets/logoRising.png" alt="Avatar">
</div>

<div class="detalhes">
  <p class="aumentarLetra">Informações pessoais:</p>

    <p class="horizontal"> <mat-icon>call</mat-icon> {{  aluno.alunoIndividual.telefone }} </p>
    <p class="horizontal">  <mat-icon>room</mat-icon> {{  aluno.alunoIndividual.endereco.rua }}, {{ aluno.alunoIndividual.endereco.numero }} </p>
    <p class="horizontal"> <mat-icon>forum</mat-icon> {{  aluno.alunoIndividual.email }} </p>
    <p class="horizontal"> <mat-icon>calendar_month</mat-icon> {{  aluno.alunoIndividual.diaVencimento }}</p>
    <p class="horizontal"> <mat-icon>price_check</mat-icon> {{  aluno.alunoIndividual.mensalidade }} </p>

    <div class="buttons">
      <button class="mat-elevation-z1" mat-stroked-button color="primary"> MENSALIDADES </button>
      <button class="mat-elevation-z1" mat-stroked-button color="warn" routerLink="/alunos/delete/:id"> DELETAR </button>
      <button class="mat-elevation-z1" mat-stroked-button color="primary" routerLink="/alunos/update/:id"> EDITAR </button>
      <button class="mat-elevation-z1" mat-stroked-button color="primary" (click)="adicionarTreino()"> TREINOS </button>
      <button class="mat-elevation-z1" mat-stroked-button color="primary" routerLink="/antropometrias"> ANTROPOMETRIA </button>
    </div>

</div>

