<div class="centralizar">
   <h1>
    {{ aluno.alunoIndividual.nome }}
   </h1>
  <img class="avatar" src="assets/perfil.png" alt="Avatar">
</div>

<div class="detalhes">
  <p class="aumentarLetra">Informações pessoais:</p>

    <p class="horizontal"> <mat-icon>call</mat-icon> {{  aluno.alunoIndividual.telefone }} </p>
    <p class="horizontal">  <mat-icon>room</mat-icon> {{  aluno.alunoIndividual.endereco.rua }}, {{ aluno.alunoIndividual.endereco.numero }} </p>
    <p class="horizontal"> <mat-icon>forum</mat-icon> {{  aluno.alunoIndividual.email }} </p>
    <p class="horizontal"> <mat-icon>calendar_month</mat-icon> {{  aluno.alunoIndividual.diaVencimento }}</p>
    <p class="horizontal"> <mat-icon>price_check</mat-icon> {{  aluno.alunoIndividual.mensalidade }} </p>

    <div class="buttons">
      <button class="btn_criar" mat-stroked-button routerLink="/alunos/{{aluno.alunoIndividual.id}}/mensalidades"> MENSALIDADES </button>
      <button class="btn_criar" mat-stroked-button routerLink="/alunos/delete/{{aluno.alunoIndividual.id}}"> DELETAR </button>
      <button class="btn_criar" mat-stroked-button routerLink="/alunos/update/{{aluno.alunoIndividual.id}}"> EDITAR </button>
      <button class="btn_criar" mat-stroked-button (click)="adicionarTreino()"> TREINOS </button>
      <button class="btn_criar" mat-stroked-button routerLink="/alunos/{{aluno.alunoIndividual.id}}/antropometrias"> ANTROPOMETRIA </button>
    </div>

</div>

