<mat-card>
<div class="centralizar">
   <h1>
    MATHEUS NASCIMENTO
   </h1>
  <img class="avatar" src="assets/logoRising.png" alt="Avatar">
</div>

<div class="detalhes">
  <p class="aumentarLetra">Informações pessoais:</p>

    <p class="horizontal"> <mat-icon>home</mat-icon> (15) 99568154184</p>
    <p class="horizontal">  <mat-icon>home</mat-icon> Rua Silva , centro , 250</p>
    <p class="horizontal"> <mat-icon>home</mat-icon> math@hotmail.com</p>
    <p class="horizontal"> <mat-icon>home</mat-icon> VENCIMENTO: 20</p>
    <p class="horizontal"> <mat-icon>home</mat-icon> MENSALIDADE: 250</p>

    <div class="buttons">
      <button class="mat-elevation-z1" mat-stroked-button color="primary"> MENSALIDADES </button>
      <button class="mat-elevation-z1" mat-stroked-button color="warn"> DELETAR </button>
      <button class="mat-elevation-z1" mat-stroked-button color="primary"> EDITAR </button>
      <button class="mat-elevation-z1" mat-stroked-button color="primary"> TREINOS </button>
      <button class="mat-elevation-z1" mat-stroked-button color="primary"> ANTROPOMETRIA </button>
    </div>

</div>


</mat-card>
