
h1 {
  color: #415a77;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section__tabela {
  min-height: 30%;
}

.estiloTabela {
  background-color: #415a77;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  color: #edf6f9;
}

.estiloTabela:hover td a {
  color: #edf6f9;
}

.estiloTabela td {
  width: calc(100% / 6);
  text-align: center !important;
}

.header-tabela th {
  text-align: center !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.estiloTabela:hover {
  background-color: #4c6293;
  cursor: pointer;
  color: #edf6f9;
}

.estiloTabela :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.estiloTabela :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box__form {
  display: flex;
  gap: 1vw;
  margin-right: 3vw;
}

.btnSelect {
  border: none;
  background-color: #bac2d5;
	border-radius:5px;
	cursor:pointer;
	color: #415a77;
	font-size:12px;
  font-weight: 600;
  margin-left: 20px;
	padding:6px 80px;
}

.btnSelect:hover {
  color: #415a77;
  background-color: #bac2d5;
}

.boxPergunta {
  display: flex;
  justify-content: space-between;
  background-color: #415a77;
  height:50px;
  width: 60%;
  margin-left: 13rem;
  margin-bottom: 2rem;
  align-items: center;
  border-radius: 10px;
}

.btn__adicionar {
  font-weight: 900;
  border: none;
  background-color: #bac2d5;
	border-radius: 10px;
	cursor:pointer;
	color: #415a77;
	font-size:10px;
  margin-left: 10rem;
	padding:5px 5px;
}

.btn__remover{
  font-weight: 900;
  border: none;
  background-color: #bac2d5;
	border-radius: 10px;
	cursor:pointer;
	color: #415a77;
	font-size:10px;
	padding:5px 5px;
}

.btn__adicionar:hover {
  color: #bac2d5;
  background-color: #4c6293;
}

.btn__remover:hover {
  color: #bac2d5;
  background-color: #4c6293;
}


.container__action {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-hover);
  font-size: 12px;
  padding: 6px 10px;
}

.btn_criar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 4px;
  background: var(--background-menu-hover);
  border: none;
  color: var(--color-text-sec);
  border-radius: 5px;
  font-size: 120%;
}

.btn_criar:hover {
  color: var(--color-text-hover);
  background-color: var(--background-botao-hover);
}

.search-box {
  background: #415a77;
  height: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-btn {
  color: #415a77;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #bac2d5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #bac2d5;
  font-size: 12px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
}

.search-box:hover>.search-txt {
  width: 125px;
  padding: 0 6px;
}

.search-box:hover>.search-btn {
  background: #bac2d5;
}

.estilo-remover{
  font-weight: 900;
  border: none;
  background-color: #bac2d5;
	border-radius: 90px;
	cursor:pointer;
	color:  #415a77;
	padding:5px 5px;
}

.estilo-remover:hover {
  color: #bac2d5;
  background-color: #415a77;
}
