<div class="content">
<h1>CRIANDO NOVO TREINO PARA {{aluno.alunoIndividual.nome.toUpperCase()}} </h1>



<form class="boxPergunta">
<div class="box__form">
  <select class="btnSelect" [(ngModel)]="selecionado" name="treino" matTooltip ="Selecione um treino">
    <option *ngFor="let treino of treinos" [ngValue]="treino"> {{ treino.dia }} - {{ treino.treino }} </option>
  </select>
  <button (click)="adicionarTreino()" class="btn__adicionar" matTooltip ="Adicionar treino"> <mat-icon>queue</mat-icon> </button>
</div>
</form>


<section class="container__action">
  <div class="search-box">
    <input class="search-txt" type="text" [(ngModel)]="searchText" name="" placeholder="Faça a sua pesquisa"
      ng2-search-filter>
    <a class="search-btn">
      <mat-icon>search</mat-icon>
    </a>
  </div>
</section>


<section class="section__tabela">
  <table>
    <tr class="header-tabela">
      <th >Dia</th>
      <th >Treino</th>
      <th >Série</th>
      <th >Repetição</th>
      <th>Opção</th>
    </tr>
    <tr class="estiloTabela"
      *ngFor="let treinosAluno of aluno.alunoIndividual.treino | filter: searchText | paginate: { itemsPerPage: 3, currentPage: paginaAtual }; let i = index">
      <td>{{ treinosAluno.dia }}</td>
      <td>{{treinosAluno.treino}}</td>
      <td>{{treinosAluno.serie}}</td>
      <td>{{treinosAluno.repeticao}}</td>
      <td (click)="onRemover(treino)"><mat-icon class="estilo-remover" matTooltip ="Deletar treino">delete</mat-icon></td>
    </tr>
    
  </table>
</section>

<section class="pagination pagination-section" *ngIf="treinos.length != 0">
  <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
    nextLabel="Próximo"></pagination-controls>
</section>



<div class="container__btn">
  <button routerLink="/alunos" class="btnDeletar" matTooltip ="Volar para lista">
    Cancelar
  </button>
  <button class="btnSalvar" (click)="onSalvar()" matTooltip ="Salvar treinos" [hidden]="treinos.length < 1">
    salvar
  </button>
</div>
</div>