<div class="content">

  <div class="title">
    <h1>Lista de Antropometria</h1>
  </div>

  <section class="container__action">
    <div class="search-box">
      <input class="search-txt" type="text" [(ngModel)]="searchText" name="" placeholder="Faça a sua pesquisa"
        ng2-search-filter>
      <a class="search-btn">
        <mat-icon>search</mat-icon>
      </a>
    </div>
    <div  routerLink="/antropometrias/detalhe">
      <button class="btn_criar" matTooltip ="Detalhe antropometria">
        <mat-icon>accessibility</mat-icon>
        Detalhe Antropometria
      </button>
    </div>
  </section>

  <section class="section__tabela">
    <table>
      <tr class="header-tabela">
        <th >Aluno</th>
        <th >Torax</th>
        <th >Cintura</th>
        <th >Quadril</th>
        <th >Estatura</th>
        <th >Peso</th>
        <th >Opções</th>
      </tr>
      <ng-container *ngIf="antropometrias.length > 0">
      <tr class="estiloTabela"
        *ngFor="let aluno of alunos | filter: searchText | paginate: { itemsPerPage: 4, currentPage: paginaAtual }; let i = index">
        <td>{{aluno.nome}}</td>
        <td> {{aluno.antropometria.torax}} </td>
        <td>{{aluno.antropometria.cintura}}</td>
        <td>{{aluno.antropometria.quadril}}</td>
        <td>{{aluno.antropometria.estatura}}</td>
        <td>{{aluno.antropometria.peso}}</td>
        <td>
          <div class="coluna__detalhe">
            <a routerLink="update/{{ aluno.id }}" class="btn__detalhes"
            matTooltip="Editar Antropometria"><mat-icon>edit</mat-icon></a>
            <a routerLink="delete/{{ aluno.id }}" class="btn__detalhes"
            matTooltip="Deletar Antropometria"><mat-icon>delete</mat-icon></a>
          </div>
        </td>
      </tr>
    </ng-container>
    </table>
  </section>

  <section class="pagination pagination-section" *ngIf="antropometrias.length != 0">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls>
  </section>

</div>
