
<mat-sidenav-container class="container">

  <mat-sidenav class="side" mode="side"  [ngClass]="location === '/' ? 'inativo' : 'side' " opened>

      <span routerLink="/home"> <img src="assets/rising-remove.png" alt=""> </span>

      <div class="mat-list__navegacao">

        <a class="mat-list-item" routerLink="/home">
          <mat-icon class ="title" matTooltip ="Home">home</mat-icon>
        </a>

        <a class="mat-list-item"  [matMenuTriggerFor]="menu">
          <mat-icon matTooltip ="Alunos">manage_accounts</mat-icon>
         
        </a>

        <a class="mat-list-item"  [matMenuTriggerFor]="menu1">
          <mat-icon matTooltip ="Treinos">bolt</mat-icon>
          
        </a>

        <a class="mat-list-item" routerLink="/antropometrias" >
          <mat-icon matTooltip ="Antropometrias">accessibility</mat-icon>
          
        </a>

        <a class="mat-list-item"  [matMenuTriggerFor]="menu2">
          <mat-icon matTooltip ="Administação">content_paste_search</mat-icon>
          
        </a>

        <a class="mat-list-item" routerLink="/config">
          <mat-icon matTooltip ="Configuração">settings</mat-icon>
          
        </a>
  
        <a class="mat-list-item" routerLink="/ajuda">
          <mat-icon matTooltip ="Ajuda">help</mat-icon>
          
        </a>

      </div>

  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet *ngIf="!isIframe"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/alunos/create">
    <mat-icon class="icones-lateral">add</mat-icon>
    <span class="span-alterar">Matricular Aluno</span>
  </button>
  <button mat-menu-item routerLink="/alunos">
    <mat-icon class="icones-lateral">list</mat-icon>
    <span class="span-alterar">Mostrar Alunos</span>
  </button>
</mat-menu>

<mat-menu #menu1="matMenu">
  <button mat-menu-item routerLink="/treinos">
    <mat-icon class="icones-lateral">offline_bolt</mat-icon>
    <span class="span-alterar">Ver Treinos</span>
  </button>
  <button mat-menu-item routerLink="/treinos/criar">
    <mat-icon class="icones-lateral">bookmark_add</mat-icon>
    <span class="span-alterar">Adicionar Treino</span>
  </button>
</mat-menu>

<mat-menu #menu2="matMenu">
  <button mat-menu-item routerLink="/relatorio">
    <mat-icon class="icones-lateral">description</mat-icon>
    <span class="span-alterar">Relatorios</span>
  </button>
  <button mat-menu-item routerLink="/funcionarios">
    <mat-icon class="icones-lateral">perm_identity</mat-icon>
    <span class="span-alterar">Funcionario</span>
  </button>
  <button mat-menu-item routerLink="/funcionarios/create">
    <mat-icon class="icones-lateral">supervisor_account</mat-icon>
    <span class="span-alterar">Novo Funcionario</span>
  </button>
</mat-menu>