form {
  text-align: center;
  width: 20%;
  margin: 2rem auto 0 auto;

}

mat-icon {
  color: #415a77;
}

h1 {
  color: #415a77;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
  margin: 3rem auto 3rem auto;
}

.form {
  width: 20%;
  padding: 10px 50px 0px 90px;

}

.buttons {
  width: 100%;
  margin: 3rem auto 2rem auto;
  text-align: start;
  text-align: center;
}

button {
  margin-right: .5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
