<div class="container">
    <section class="flex">
  
      <div class="box-1" >
       <a class='router' routerLink="/treinos">
         <p class="font-boxes">Treinos</p>
         <mat-icon class="icons">bolt</mat-icon>
       </a>
      </div>
  
      <div class="box-2">
       <a class='router' routerLink="/alunos">
         <p class="font-boxes1">Alunos</p>
         <mat-icon class="icons1">manage_accounts</mat-icon>
       </a>
      </div>
  
      <div class="box-2">
        <a class='router' routerLink="/funcionarios">
          <p class="font-boxes1">Funcionarios</p>
          <mat-icon class="icons1">manage_accounts</mat-icon>
        </a>
       </div>
  
     <div class="box-2">
      <a class='router' routerLink="/antropometrias">
        <p class="font-boxes1">Antropometria</p>
        <mat-icon class="icons1">accessibility</mat-icon>
      </a>
     </div>
  
     <div class="box-2">
      <a class='router' routerLink="/relatorio">
        <p class="font-boxes1">Relatorio</p>
        <mat-icon class="icons1">settings</mat-icon>
      </a>
     </div>
  
     <div class="box-2">
      <a class='router' routerLink="/ajuda">
        <p class="font-boxes1">Ajuda</p>
        <mat-icon class="icons1">help</mat-icon>
      </a>
    </div>
  
    <div class="box-2">
      <a class='router' routerLink="/config">
        <p class="font-boxes1">Configurações</p>
        <mat-icon class="icons1">settings</mat-icon>
      </a>
    </div>
  
   </section>
  </div>
  
  
  