<div class="container">
  <section class="flex">

    <div class="box-1" >
     <a class= 'router' routerLink="">
       <p class= "font-boxes">Treinos</p>
       <mat-icon class="icons">bolt</mat-icon>
     </a>
    </div>

    <div class="box-2">
     <a class= 'router' routerLink="/alunos">
       <p class= "font-boxes1">Alunos</p>
       <mat-icon class="icons1">manage_accounts</mat-icon>
     </a>
    </div>

    <div class="box-2" >
     <a class= 'router' routerLink="/config">
       <p class= "font-boxes1">Configurações</p>
       <mat-icon class="icons1">settings</mat-icon>
     </a>
   </div>

   <div class="box-2">
    <a class= 'router' routerLink="/alunos">
      <p class= "font-boxes1">Produtos</p>
      <mat-icon class="icons1">manage_accounts</mat-icon>
    </a>
   </div>

   <div class="box-2">
    <a class= 'router' routerLink="/alunos">
      <p class= "font-boxes1">Testando</p>
      <mat-icon class="icons1">manage_accounts</mat-icon>
    </a>
   </div>


   <div class="box-2">
    <a class= 'router' routerLink="/alunos">
      <p class= "font-boxes1">Administração</p>
      <mat-icon class="icons1">manage_accounts</mat-icon>
    </a>
   </div>

   <div class="box-2" >
    <a class= 'router' routerLink="/config">
      <p class= "font-boxes1">Nutrição</p>
      <mat-icon class="icons1">settings</mat-icon>
    </a>
  </div>

 </section>
</div>


