<div class="title">
    <h1>Perfil do usuário</h1>
  </div>

  <article class="container">

    <section class="box box-informacoes">
      <img src="/assets/perfil.png">
    </section>
    <section class="conteudo conteudo-informacoes">
      <p>Nome Completo: {{ nomeUsuario }}</p>
      <p>Email: admin@hotmail.com</p>
      <p>Telefone: 9999-9999</p>
      <p>Permissão: admin</p>
    </section>
    
    <!-- <section routerLink="/alterar-senha" class="conteudo conteudo-permissoes">
      <a>Alterar senha</a>
    </section> -->
  
    <button class="btn_voltar" (click)="voltarPaginaAnterior()">Voltar</button>
  
</article>
